.Discover {
    background-image: url("/images/trooper2_background.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Lato;

    .title{
        text-align: center;
        margin-top: 25px;

        figure {
            img {
                width: 300px
            }
        }
    }
    
    h2 {
        margin-left: 25px;
        font-size: 28px;
        letter-spacing: .5px;
    }
}