/* ---------- DISENO PARA LAS SECCIONES -------------  */
.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 70px;
}

/* SECCION DISCOVER */
.Discover {
    background-image: url("./images/trooper2_background.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Lato;
}

.Discover .title{
    text-align: center;
    margin-top: 25px;
}

.Discover .title figure img {
    width: 300px
}

.Discover h2 {
    margin-left: 25px;
    font-size: 28px;
    letter-spacing: .5px;
}

/* SECCION STARSHIPS */
.Starships {
    background-image: url("./images/stormtrooper3_backrgound.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    font-family: Lato; 
}

.Starships .title{
    text-align: center;
    margin-top: 25px;
}

.Starships .title figure img {
    width: 300px
}

.Starships h2 {
    margin-left: 25px;
    font-size: 28px;
    letter-spacing: .5px;
}

/* SECCION CHARACTERS */

.Characters {
    background-image: url("./images/DarthVader_background.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    font-family: Lato; 
}

.Characters .title{
    text-align: center;
    margin-top: 25px;
}

.Characters .title figure img {
    width: 300px
}

.Characters h2 {
    margin-left: 25px;
    font-size: 28px;
    letter-spacing: .5px;
}

/* SECCION YOUR FLEET */
.YourFleet {
    background-image: url("./images/CloneTrooper_background.jpg"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    font-family: Lato; 
}